body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.quiz {
  background-color: #252d4a;
  width: 500px;
  min-height: 280px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(94, 150, 214, 0.75);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.score-section {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.question-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.question-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: red;
}
.question {
  margin-top: 15px;
  font-size: 15px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #234668;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 2px;
}

.correct {
  background-color: #518d51;
}

button:hover {
  background-color: #626981;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
.actions {
  display: flex;
  margin-top: 15px;
}
.actions button {
  justify-content: center;
}
.actions button:hover {
  background-color: #0e2135;
  color: white;
}
